.post-content img.emoji {
    height: 1.2em;
    margin-top: -.1em;
    vertical-align: middle;
    display: inline;
}

.post-content figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-content figure > figcaption {
    margin: 5px;
    text-align: center;
}

.post-content figure > figcaption > h4 {
    margin: 0;
    display: block;
}

.post-content figure > figcaption > p {
    margin: 0;
}
