{{ define "head" }}
	{{ if .Params.featuredImg -}}
	<style>.bg-img {background-image: url('{{.Params.featuredImg}}');}</style>
	{{- else if .Params.images -}}
		{{- range first 1 .Params.images -}}
		<style>.bg-img {background-image: url('{{. | absURL}}');}</style>
		{{- end -}}
	{{- end -}}
{{ end }}

{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
<main class="site-main section-inner">
  <h1>{{ .Params.name }}</h1>
  {{ $profileImage := .Params.photo | default (printf "https://www.gravatar.com/avatar/%s" (md5 .Params.email)) }}
  <img src="{{ $profileImage }}" alt=""/>

  <h2>Bio</h2>
  {{ .Content }}
  <dl>
    {{ with .Params.link }}
    <dt>Link</dt>
    <dd><a href="{{.}}">{{.}}</a></dd>
    {{ end }}
  </dl>

  <h2>Articles</h2>
  <ul>
  {{ range .Data.Pages }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
  {{ end }}
  </ul>
</main>
{{ end }}
