{{ define "head" }}
	{{ if .Params.featuredImg -}}
	<style>.bg-img {background-image: url('{{.Params.featuredImg}}');}</style>
	{{- else if .Params.images -}}
		{{- range first 1 .Params.images -}}
		<style>.bg-img {background-image: url('{{. | absURL}}');}</style>
		{{- end -}}
	{{- end -}}
{{ end }}

{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
<main class="site-main section-inner">
  <h1>Authors</h1>
  <ul>
    {{ range .Data.Pages }}
    <li><a href="{{ .Permalink }}">{{ .Params.name }}</a></li>
    {{ end }}
  </ul>
</main>
{{ end }}
