{{ with . }}
<hr />
<section class="authors-info">
  <h3>Authors</h3>
  {{- range .Params.authors }}
  {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
  {{ $profileImage := .Params.photo | default (printf "https://www.gravatar.com/avatar/%s" (md5 .Params.email )) }}
  <figure>
    <img src="{{ $profileImage }}" alt="{{ .Params.name }} photo" />
    <figcaption>
      <a href="{{ .Permalink }}">{{ .Params.name }}</a>
    </figcaption>
  </figure>
  {{- end }}
  {{- end }}
</section>
{{ end }}
