{{ $status := .Get "src" | urls.Parse }}
{{ $host := $status.Host }}

{{ $width := .Get "width" | default "100%" }}
<iframe src="{{ $status }}/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="{{ $width }}" allowfullscreen="allowfullscreen"></iframe>
<script src="https://{{ $host }}/embed.js" async="async"></script>
